* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 3000px;
}

:root {
    --font-family1: "Poppins", sans-serif;
    --font-family2: "Rubik", sans-serif;
    --color-green: #589E54;
    --color-green2: #8BC888;

    ;
}

/* Nav start */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 32px;
    width: 100%;
    z-index: 999;
    background-color: white;
    font-family: var(--font-family2);
    position: fixed;
}

nav .title {
    display: flex;
    gap: 8px;
    justify-content: center;
    flex-direction: row;
    font-size: 20px;
}

nav .title img {
    width: 40px;
    height: 40px;
}

nav .title h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-green);
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    transition: .5s;
}

.Navbar {
    display: flex;
    gap: 16px;
    align-items: center;
    cursor: pointer;
}

.Navbar button {
    padding: 8px 48px;
    border-radius: 4px;
    border: none;
    color: whitesmoke;
    background-color: var(--color-green2);
    transition: .5s;
}

.Navbar button:hover {
    background-color: white;
    color: #8BC888;
}


nav a:hover {
    color: var(--color-green);
    border-bottom: 1px solid var(--color-green);

}

/* Nav End */

/* Hero section start */
section.hero_section {
    display: flex;
    align-items: center;
    font-family: var(--font-family2);
    justify-content: center;
    color: whitesmoke;
    width: 100%;
    height: 100vh;
    background-color: var(--color-green2);
}

section.hero_section .teks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 100px;
    text-decoration: none;
}

section.hero_section .teks h1 {
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.559);
    font-size: 80px;
}

section.hero_section .teks p {
    font-size: 24px;
    font-weight: 200;
}

section.hero_section .teks button {
    box-shadow: 4px 6px 0px 0px rgba(0, 0, 0, 0.228);
    border: none;
    border-radius: 8px;
    padding: 8px 60px;
    cursor: pointer;
    transition: .5s;
}

section.hero_section .teks button:hover {
    transform: scale(1.1);
}

/* Hero section end */

/* Second Section Start */
section.second_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family2);
    margin-top: 48px;
}

section.second_section .title2 h1 {
    display: flex;
    text-align: center;
    text-shadow: 8px 8px 6px rgba(0, 0, 0, 0.559);
}

section.second_section .card_manfaat {
    display: flex;
    margin-top: 100px;
    gap: 32px;
    flex-direction: row;
}

section.second_section .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section.second_section .card img {
    border-radius: 12px;
    width: 300px;
    height: 500px;
}

section.second_section .card p {
    display: flex;
    font-size: 20px;
    position: absolute;
    text-align: center;
    margin-top: 100vh;
    width: 250px;
}

section.second_section .card ::before {
    content: '';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 2px solid black;
    background: #589E54;
    left: 35%;
}

section.second_section .card1 ::before {
    content: '1';
    color: white;
    bottom: 30vh;
}
section.second_section .card2 ::before {
    content: '2';
    color: white;
    bottom: 27vh;
}
section.second_section .card3 ::before {
    content: '3';
    color: white;
    bottom: 28vh;
}

section.second_section .card4 ::before {
    content: '4';
    color: white;
    bottom: 24vh;
}

/* Second Section End */