* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  width: 100%;
}

:root {
  --font-family1: "Poppins", sans-serif;
  --font-family2: "Rubik", sans-serif;
  --color-green: #589e54;
  --color-green2: #8bc888;
  --kurus: blue;
  --normal: green;
  --gemuk: orange;
  --obesitas: red;
}

@font-face {
  font-family: myFont;
  src: url(Acid\ Bold.ttf);
}

/* Nav start */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 40px;
  width: 100%;
  z-index: 999;
  background-color: white;
  position: fixed;
}

nav .title {
  display: flex;
  gap: 8px;
  justify-content: center;
  flex-direction: row;
  font-size: 20px;
  cursor: pointer;
  font-family: myFont;

}

nav .title img {
  width: 35px;
  height: 30px;
}

nav .title a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(40, 39, 39);
  font-size: 20px;
  font-weight: bold;
}

nav a {
  text-decoration: none;
  display: flex;
  gap: 4px;
  flex-direction: row;
  color: black;
  font-size: 16px;
  transition: 0.5s;
}

.Navbar {
  display: flex;
  gap: 16px;
  align-items: center;
  cursor: pointer;
  font-family: var(--font-family2);
}

.Navbar .bx {
  display: flex;
  align-items: center;

}

.Navbar button {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 8px 48px;
  border-radius: 4px;
  border: none;
  color: whitesmoke;
  background-color: var(--color-green2);
  transition: 0.5s;
  cursor: pointer;
}

.Navbar button:hover {
  background-color: white;
  color: #8bc888;
}

.Navbar a:hover {
  color: var(--color-green);
  border-bottom: 1px solid black solid var(--color-green);
}


/* Nav End */

/* Hamburger Start */
.nav_hamburger {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  transition: right 0.5s ease;
  z-index: 9999;
}

.nav_hamburger a {
  text-decoration: none;
  display: flex;
  gap: 4px;
  margin: 0 32px;
  color: black;
  font-size: 16px;
  transition: 0.5s;
  justify-content: center;
  font-size: 20px;
}

.nav_hamburger a:hover {
  color: var(--color-green);
  border-bottom: 1px solid black solid var(--color-green);
}

.nav_hamburger button {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 8px;
  width: 80%;
  border-radius: 4px;
  border: none;
  color: whitesmoke;
  background-color: var(--color-green2);
  transition: 0.5s;
  cursor: pointer;
}

.nav_hamburger button:hover {
  background-color: white;
  color: #8bc888;
}

.nav_hamburger.active {
  display: flex;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger .bx {
  font-size: 24px;
}


/* Hamburger End */



/* Hero section start */
section.hero_section {
  display: flex;
  align-items: center;
  font-family: var(--font-family2);
  justify-content: center;
  color: whitesmoke;
  width: 100%;
  height: 100vh;
  background-color: var(--color-green2);
}

section.hero_section .teks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  text-decoration: none;
}

section.hero_section .teks h1 {
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.559);
  font-size: 80px;
}

section.hero_section .teks p {
  font-size: 24px;
  font-weight: 200;
}

section.hero_section .teks button {
  box-shadow: 4px 6px 0px 0px rgba(0, 0, 0, 0.228);
  border: none;
  border-radius: 8px;
  padding: 8px 60px;
  cursor: pointer;
  transition: 0.5s;
}

section.hero_section .teks button:hover {
  transform: scale(1.1);
}

/* Hero section end */


/* About start */
section.about_section {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family2);
  margin: 48px 64px;
}

.detail_about {
  display: flex;
  flex-direction: row;
}

.title_about {
  display: flex;
  justify-content: center;
  font-size: 32px;
}

.detail_about img {
  border-radius: 12px;
  width: 600px;
  height: 400px;
}

.teks_about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 32px;
  gap: 20px;
}

.teks_about h1 {
  font-size: 28px;
}

.teks_about p {
  font-size: 20px;
}

.teks_about button {
  padding: 12px 16px;
  width: 30%;
  border: none;
  background-color: #8bc888;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: .5s;
}

.teks_about button:hover {
  color: var(--color-green2);
  background-color: white;
}

/* About end */


/* Second Section Start */
section.second_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family2);
  padding: 32px 0;
  margin-top: 20vh;
  background-color: #8bc888;
}

section.second_section .title2 h1 {
  display: flex;
  text-align: center;
  color: white;
}

section.second_section .card_manfaat {
  display: flex;
  margin-top: 100px;
  gap: 32px;
  flex-direction: row;
}

section.second_section .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 0px 12px 0px rgb(132, 131, 131);
  border-radius: 12px;
  padding-bottom: 35vh;
}

section.second_section .card img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom: 2px solid #589e54;
  background-size: cover;
  width: 280px;
  height: 280px;
}

section.second_section .card p {
  display: flex;
  font-size: 20px;
  position: absolute;
  text-align: center;
  margin-top: 74vh;
  width: 250px;
}

section.second_section .card ::before {
  content: "";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #589e54;
  left: 40%;
}

section.second_section .card1 ::before {
  content: "1";
  color: white;
  bottom: 28vh;
}

section.second_section .card2 ::before {
  content: "2";
  color: white;
  bottom: 25vh;
}

section.second_section .card3 ::before {
  content: "3";
  color: white;
  bottom: 26vh;
}

section.second_section .card4 ::before {
  content: "4";
  color: white;
  bottom: 22vh;
}

/* Second Section End */

/* Section Konsultasi Start */
.konsultasi {
  display: flex;
  position: absolute;
}

.detail_konsultasi {
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: center;
  margin-top: 35vh;
  margin-left: 45vh;
  background-color: white;
  color: black;
  padding: 8px 12px;
  border-radius: 12px;
  z-index: 999;
  cursor: pointer;
  gap: 12px;
  transition: .5s;
  box-shadow: 2px 0px 12px 0px black;
}

.detail_konsultasi:hover {
  transform: scale(1.1);
  border: 2px solid #a7e6ff;
}

.detail_konsultasi img {
  width: 50px;
  height: 50px;
}

.detail_konsultasi h3 {
  font-size: 16px;
}


/* Section Konsultasi End */

/* Artikel Start */
section.artikel_section {
  margin-top: 20vh;
  padding: 12px 48px;
  font-family: var(--font-family2);
}

.artikel {
  display: flex;
  flex-direction: column;
  padding: 12px 16px;
  gap: 20px;
}

.artikel .kiri_artikel {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;
  background-image: url(assets/cara-menurunkan-berat-badan-secara-realistis-0-alodokter.jpg);
  background-size: cover;
  width: 220vh;
  height: 500px;
  border-radius: 12px;
  transition: .5s;
}


.kiri_artikel a {
  text-decoration: none;
}

.kiri_teks {
  background-color: #ffffff43;
  backdrop-filter: blur(10px);
  color: black;
  padding: 16px 20px;
  display: none;
  transition: 5s;
}

.kiri_artikel:hover .kiri_teks {
  display: block;
}

.kiri_sumber {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.kiri_sumber .sumber {
  padding: 0px 8px;
  border-radius: 4px;
  width: auto;
  background-color: var(--color-green);
  color: white;
}


.artikel .detail_artikel {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.artikel .kanan_artikel {
  display: flex;
  flex-direction: column;
  height: 65vh;
  width: 100%;
  overflow: auto;
  gap: 30px;
}

.artikel .kanan_artikel img {
  width: 150px;
  height: 100px;
  border-radius: 12px;
}

.artikel .kanan_artikel .detail_img a {
  display: flex;
  gap: 12px;
  flex-direction: row;
  height: 100%;
  text-decoration: none;
  color: black;
}

.detail_teks {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.detail_sumber {
  display: flex;
  flex-direction: row;
  gap: 28px;
}

.detail_teks .sumber {
  padding: 0px 8px;
  border-radius: 4px;
  background-color: var(--color-green);
  color: white;
}

.detail_teks .tanggal {
  color: grey;
}

.artikel2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10vh;
  padding: 12px 16px;
}

.detail_artikel2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;
}

.detail_artikel2 img {
  width: 300px;
  height: 200px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.detail_teks2 {
  padding: 12px 16px;
}

.card_artikel {
  background-color: whitesmoke;
  box-shadow: 2px 0px 12px 0px rgb(132, 131, 131);
  padding-bottom: 8px;
  width: 300px;
  border-radius: 12px;
  transition: 0.5s;
}

.card_artikel:hover {
  transform: scale(0.9);
}

.card_artikel a {
  text-decoration: none;
}

.card_artikel .detail_teks2 {
  color: black;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card_artikel .detail_teks2 .detail_sumber2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.detail_sumber2 .sumber {
  padding: 0px 8px;
  border-radius: 4px;
  background-color: var(--color-green);
  color: white;
}

.detail_sumber2 .tanggal {
  color: grey;
}

.selengkapnya {
  display: grid;
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;
}

.selengkapnya img {
  width: 300px;
  height: 200px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

#read-more {
  display: flex;
  align-self: center;
  margin-top: 20px;
  padding: 12px 32px;
  border-radius: 8px;
  border: none;
  background-color: #589e54;
  color: white;
  transition: 0.5s;
  cursor: pointer;
}

#read-more:hover {
  color: var(--color-green);
  background-color: #ffffff;
}

/* Artikel End */

/* bmi section start*/
.bmi_main {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family2);
  background-color: #8bc88893;
}

.bmi_main .bmi_title {
  margin-top: 100px;
  padding: 12px 80px;
}

.bmi_main .bmi_gender {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 20px;
  margin-top: 70px;
  background-color: whitesmoke;
  padding: 32px;

}

.bmi_gender .gender_pria {
  display: flex;
  flex-direction: column;
  width: 292px;
  height: 165px;
}

.gender_pria .img_pria {
  height: 100%;
}

.gender_pria .img_pria p {
  display: flex;
  font-size: 20px;
  justify-content: center;
  gap: 8px;
}


.gender_pria button {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}

.bmi_gender .gender_pria img {
  border-radius: 50%;
  height: 90px;
  width: 90px;
}


.bmi_gender .gender_wanita {
  display: flex;
  flex-direction: column;
  width: 292px;
  height: 165px;
}

.gender_wanita .img_wanita {
  height: 100%;
}

.gender_wanita .img_wanita p {
  display: flex;
  font-size: 20px;
  justify-content: center;
  gap: 4px;
}

.gender_wanita button {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}

.bmi_gender .gender_wanita img {
  border-radius: 50%;
  height: 90px;
  width: 90px;
}

.gender_pria button.active {
  border: 1px solid rgb(0, 238, 255);
  box-shadow: 2px 0px 12px 0px rgba(0, 225, 255, 0.3);
  /* Bayangan berwarna merah */
}

.gender_wanita button.active {
  border: 1px solid var(--color-green);
  box-shadow: 2px 0px 12px 0px rgba(0, 129, 24, 0.3);
  /* Bayangan berwarna merah */
}

.bmi_main .bmi_input {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 150px;
  padding: 0 32px;
  gap: 40px;
}

.bmi_input .img_bmi img {
  border-radius: 12px;
}

.bmi_input .input {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.bmi_main .bmi_input input {
  padding: 0 12px;
  width: 600px;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 8px;
}

.bmi_main .bmi_input #heightInput:hover {
  outline: 2px solid #8bc888;
}

.bmi_main .bmi_input #weightInput:hover {
  outline: 2px solid #a7e6ff;
}


.bmi_main .bmi_input p {
  margin-bottom: 10px;
  font-size: 18px;
}

.button_bmi {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.button_bmi button {
  padding: 12px 32px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.button_bmi button:hover {
  transform: scale(1.1);
  background-color: var(--color-green2);
  color: white;
}

.bmi_hasil {
  display: flex;

  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 32px;
  margin-top: 100px;
}

.hidden {
  display: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bmi_scale {
  display: flex;
  flex-direction: row;
}

.bmi_scale div {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 12px 32px;
  text-transform: uppercase;
  border-top: 5px solid var(--color);
}

.bmi_main .info_bmi {
  display: flex;
  flex-direction: row;
  margin: 30px;
  justify-content: space-around;
}

.bmi_main .info_bmi .pola_makan_kurus,
.bmi_main .info_bmi .pola_makan_ideal {
  display: flex;
  flex-direction: row;
  background-color: #f1f1f1;
  width: 500px;
  height: 130px;
  border-radius: 10px;
  display: none;
}



.bmi_main .info_bmi .pola_makan_kurus p,
.bmi_main .info_bmi .pola_makan_ideal p {
  width: 350px;
  margin: 15px;
  font-size: 16px;

}

.bmi_main .info_bmi .pola_makan_kurus .image_makan,
.bmi_main .info_bmi .pola_makan_ideal .image_makan {
  padding-top: 15px;
}

.bmi_main .info_bmi .pola_makan_kurus .image_makan img,
.bmi_main .info_bmi .pola_makan_ideal .image_makan img {
  display: flex;
  width: 100%;
  height: 90%;
  border-radius: 5%;
}

.bmi_main .info_bmi .pola_makan_kurus button,
.bmi_main .info_bmi .pola_makan_ideal button {
  border-radius: 5%;
  margin-left: 15px;
  background-color: #a7e6ff;
  padding: 8px;
  border-radius: 8px;
  border: none;
  transition: 0.5s;
  cursor: pointer;
}

.bmi_main .info_bmi .pola_makan_kurus button:hover,
.bmi_main .info_bmi .pola_makan_ideal button:hover {
  border-radius: 5%;
  background-color: white;
  padding: 5px;
  border-radius: 8px;
  border: none;
  transform: scale(1.1);
}

.penyakit_obesitas,
.penyakit_kurus,
.penyakit_ideal {
  width: 500px;
  height: 130px;
  background-color: #f1f1f1;
  border-radius: 10px;
  display: none;
}

.penyakit_kurus,
.penyakit_obesitas,
.penyakit_kurus,
.penyakit_kurus {
  display: none;
}

.penyakit_obesitas h4,
.penyakit_kurus h4,
.penyakit_ideal h4 {
  margin-left: 15px;
  margin-top: 15px;
}

.penyakit_obesitas .list_penyakit,
.penyakit_kurus .list_penyakit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.penyakit_obesitas ul li,
.penyakit_kurus ul li {
  margin: 10px;
  margin-left: 30px;
  font-size: 14px;
}

.penyakit_obesitas ul li::marker,
.penyakit_kurus ul li::marker {
  color: #a7e6ff;
}

/* program latihan start */

.program_latihan {
  font-family: var(--font-family2);
}

.program_obesitas,
.program_kurus,
.program_menjaga {
  display: flex;
  flex-direction: column;
  display: none;
}

.program_cardio,
.program_atas,
.program_core,
.program_fleksibel,
.program_angkat_beban,
.program_hiit,
.program_fungsional,
.program_core,
.program_kekuatan,
.program_kardio,
.program_yoga,
.program_fungsional2 {
  display: flex;
  flex-direction: row;
  gap: 70px;
}

.program_obesitas h1,
.program_kurus h1,
.program_menjaga h1 {
  margin-top: 30px;
  margin-left: 90px;
}

.program_obesitas h2,
.program_kurus h2,
.program_menjaga h2 {
  margin-top: 20px;
  margin-left: 90px;
}

.program_cardio,
.program_atas,
.program_core,
.program_fleksibel,
.program_angkat_beban,
.program_hiit,
.program_fungsional,
.program_core,
.program_kekuatan,
.program_kardio,
.program_yoga,
.program_fungsional2 {
  margin-left: 90px;
  margin-top: 10px;
}

.program1,
.program2,
.program3 {
  width: 300px;
  height: 370px;
  background-color: #a7e6ff;
  border-radius: 11px;
  box-shadow: 2px 0px 12px 0px rgb(132, 131, 131);
  margin-bottom: 50px;
}

.program1_nama h1,
.program2_nama h1,
.program3_nama h1 {
  margin-top: 7px;
  margin-left: 15px;
}

.program1_reps,
.program2_reps,
.program3_reps {
  margin: 4px 15px;
}

.program1 img,
.program2 img,
.program3 img {
  width: 300px;
  height: 280px;
  border-radius: 10px;
}

/* program latihan end */

/* bmi section end*/

/* loader start */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  z-index: 9999;
}

.loader-container video {
  overflow: hidden;
  width: 300px;
  height: auto;
}

body.loaded .loader-container {
  display: none;
}

/* loader end */

/* Footer Start */
footer {
  display: flex;
  margin-top: 50vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #589e54;
  padding-top: 20px;
  gap: 12px;
}

.nav_footer {
  display: flex;
  flex-direction: row;
  gap: 12px;
  font-family: var(--font-family1);
  font-size: 20px;
  cursor: pointer;
}

.nav_footer a {
  text-decoration: none;
  color: black;
}

.nav_footer a:hover {
  color: var(--color-green);
  border-bottom: 1px solid black solid var(--color-green);
}

.sosmed {
  display: flex;
  gap: 12px;
  font-size: 20px;
  cursor: pointer;
}

.sosmed .bx {
  color: var(--color-green);
  padding: 8px 8px;
  border-radius: 50%;
  transition: 0.5s;
}

.sosmed .bx:hover {
  color: var(--color-green);
  background-color: white;
  transform: scale(1.5);
}

.Copyright {
  display: flex;
  font-family: var(--font-family2);
  justify-content: center;
  background-color: #589e54;
  color: whitesmoke;
  width: 100%;
  padding: 12px;
}

/* Footer End */

/* Mobile Card */
section.second_section .mobile_card {
  display: none;
}



/* Media Responsive Start */
@media screen and (max-width:1029px) {
  .detail_konsultasi {
    margin-left: 38vh;
    padding: 4px 8px;
    gap: 4px;
  }

  .detail_konsultasi h3 {
    font-size: 12px;
  }

  section.about_section {
    margin: 30px 48px;
  }

  .detail_about img {
    width: 500px;
    height: 300px;
  }

  .teks_about {
    padding: 0 32px;
    gap: 20px;
  }

  .teks_about h1 {
    font-size: 20px;
  }

  .teks_about p {
    font-size: 16px;
  }

  .teks_about button {
    padding: 8px 12px;
    width: 30%;
  }

  section.second_section .title2 h1 {
    font-size: 20px;
  }

  section.second_section .card img {
    width: 220px;
    height: 220px;
  }

  section.second_section .card p {
    font-size: 16px;
    margin-top: 70vh;
    width: 220px;
  }

  section.second_section .card {
    padding-bottom: 30vh;
  }

  section.second_section .card1 ::before {
    content: "1";
    bottom: 26vh;
  }

  section.second_section .card2 ::before {
    content: "2";
    bottom: 25vh;
  }

  section.second_section .card3 ::before {
    content: "3";
    bottom: 25vh;
  }

  section.second_section .card4 ::before {
    content: "4";
    bottom: 22vh;
  }

}

@media screen and (max-width:996px) {

  .detail_konsultasi {
    margin-left: 35vh;
  }

  section.second_section .card_manfaat {
    display: none;
  }

  section.second_section .mobile_card {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px 32px;
    margin-top: 32px;
  }

  .mobile_card .mobile_card1 img {
    width: 280px;
    height: 280px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
  }

  .mobile_card .mobile_card1 p {
    background-color: #ffffff;
    display: flex;
    text-align: center;
    align-items: center;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  .mobile_card .mobile_card1 {
    display: flex;
    flex-direction: row;
  }

}

@media screen and (max-width:928px) {
  .detail_konsultasi {
    margin-left: 26vh;
  }

  .detail_konsultasi h3 {
    font-size: 10px;
  }

  section.about_section {
    margin: 28px 30px;
  }

  .teks_about h1 {
    font-size: 18px;
  }

  .teks_about p {
    font-size: 14px;
  }

  .teks_about button {
    font-size: 12px;
    padding: 8px 12px;
    width: 40%;
  }

  .teks_about {
    padding: 0 28px;
    gap: 20px;
  }

  .mobile_card .mobile_card1 img {
    width: 240px;
    height: 240px;
  }

  .mobile_card .mobile_card1 p {
    font-size: 14px;
  }
}

@media screen and (max-width:770px) {

    .hamburger {
      display: flex;
    }
  
  
    .Navbar {
      display: none;
    }
  
    .nav_hamburger a {
      padding: 15px;
      text-align: center;
    }

  section.hero_section .teks h1 {
    font-size: 60px;
  }

  section.hero_section .teks p {
    font-size: 16px;
  }

  section.hero_section .teks button {
    padding: 8px 32px;
    font-size: 14px;
  }

  .detail_konsultasi {
    margin-left: 20vh;
  }

  section.second_section .title2 h1 {
    font-size: 16px;
  }

  .teks_about p {
    font-size: 14px;
  }

  .teks_about {
    padding: 0 20px;
  }

  .detail_about img {
    width: 450px;
    height: 250px;
  }

  .mobile_card .mobile_card1 img {
    width: 220px;
    height: 220px;
  }
}

@media screen and (max-width:728px) {

  .detail_konsultasi {
    margin-left: 16vh;
  }

  .detail_about img {
    width: 420px;
    height: 220px;
  }

  .teks_about button {
    font-size: 12px;
    padding: 8px 12px;
    width: 40%;
  }

  .teks_about p {
    font-size: 12px;
  }

}

@media screen and (max-width:676px) {

  .detail_konsultasi {
    margin-left: 14vh;
  }

  section.about_section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    
  }

  .detail_about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:16px;
  }


  .teks_about {
    display: flex;
    text-align: center;
    align-items: center;
  
  }

  .detail_about img {
    width: 450px;
    height: 250px;
  }

  .teks_about h1 {
    font-size: 20px;
  }
  .teks_about p {
    font-size: 16px;
  }

}

@media screen and (max-width:612px){
  .detail_konsultasi {
    margin-left: 10vh;
  }

  .mobile_card .mobile_card1 img {
    width: 200px;
    height: 200px;
  }

  .mobile_card .mobile_card1 p {
    font-size: 12px;
  }
}

@media screen and (max-width:548px){
  .detail_konsultasi {
    margin-left: 6vh;
  }
}

@media screen and (max-width:482px){
  .detail_konsultasi {
    margin-left: 6vh;
  }

  .detail_konsultasi h3 {
    font-size: 10px;
  }

  .detail_konsultasi img {
    width: 30px;
    height: 30px;
  }

  .detail_about img {
    width: 400px;
    height: 220px;
  }

  .teks_about h1 {
    font-size: 18px;
  }
  .teks_about p {
    font-size: 14px;
  }

  .mobile_card .mobile_card1 img {
    width: 180px;
    height: 180px;
  }

}







/* Media Responsive End */